@import "tailwindcss";
@plugin "daisyui" {
  themes: "light" --default;
}
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #d72050;
  --color-secondary: #403f3f;
  --color-accent: #F3F3F3;
}

* {
  font-family: "Poppins", sans-serif;
}
